<section class="aboutme py-4">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <h1 class="">About me</h1>
      </div>
      <div class="col-12 col-md-8 text-start">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus cumque nesciunt accusamus corrupti aliquam. Qui perspiciatis, quae doloribus odit laudantium sed quo veniam, quibusdam saepe, cumque illum nisi nemo eius?</p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus cumque nesciunt accusamus corrupti aliquam. Qui perspiciatis, quae doloribus odit laudantium sed quo veniam, quibusdam saepe, cumque illum nisi nemo eius?
        <br>
        <button class="btn btn-secondary m-2 p-2">Read More About Me</button>
      </div>
    </div>
  </div>

</section>
